P2Projekt/.vs
P2Projekt/P2Projekt/obj
P2Projekt/P2Projekt/bin
P2ProjektServer/.vs
P2ProjektServer/P2ProjektServer/obj
P2ProjektServer/P2ProjektServer/bin

P2ProjektTestServer/.vs
P2ProjektTestServer/P2TestServer1/obj
P2ProjektTestServer/P2TestServer1/bin
