P2Project/.vs
P2Project/ServerSide/obj
P2Project/ServerSide/bin
P2Project/ServerSide/node_modules

P2Project/Database/bin
P2Project/Database/Import Script Logs
P2Project/Database/obj

P2Project/ClientSide/bin
P2Project/ClientSide/obj
P2Project/ClientSide/Properties

P2Project/SensorCode/__vm
P2Project/SensorCode/Debug