* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    min-height: 100vh;
}

/* --- Room choice section begins here --- */

.displayContainer {
    background-color: rgba(248, 248, 248, 0.75);
    text-transform: uppercase;
    border-bottom: 1px solid rgb(204, 204, 204);
    overflow: hidden;
    padding: 20px;
}

    .displayContainer button {
        background: #eeeeee;
        color: #3877ff;
        height: 40px;
        text-transform: uppercase;
        box-shadow: 0 0px 10px #8f8f8f94;
        font-size: 16px;
        border-color: darkgray;
        border-width: 1px;
        border-style: solid;
        margin-left: 30px;
        padding: 5px;
    }

    .displayContainer select {
        display: inline-block;
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
        background: #eeeeee;
        color: #3877ff;
        padding: 8px;
        height: 40px;
        text-transform: uppercase;
        box-shadow: 0 0px 10px #8f8f8f94;
        font-size: 16px;
    }

    .displayContainer input {
        display: inline-block;
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
        background: #eeeeee;
        color: #3877ff;
        padding: 8px;
        height: 40px;
        text-transform: uppercase;
        box-shadow: 0 0px 10px #8f8f8f94;
        font-size: 16px;
    }
