/* This is the stylesheet for the front page */

/*#region Overall*/

html body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*#endregion*/

/*#region Header*/

header {
    overflow: hidden;
    background-color: #575757;
    color: white;
    padding: 10px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 200px auto 100px 50px;
    grid-column-gap: 20px;
}

header a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
}

header span {
    color: white;
    font-weight: bold;
    margin: auto;
}

header h3 {
    color: white;
    margin: auto;
}

header input {
    background: #a8a8a8;
    color: white;
    width: 100px;
    padding: 5px;
    text-transform: uppercase;
    box-shadow: 0 0px 10px #8f8f8f94;
    border: none;
    margin: auto;
}

/*#endregion*/

/*#region Top selection bar*/

.displayContainerPlacer {
    height: 40px;
    padding: 0 15%;
    margin: 10px;
}

.displayContainer {
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 40px;
    grid-column-gap: 20px;
}

.displayContainer h3 {
    text-transform: uppercase;
    margin: auto;
}

.displayContainer select {
    background: #eeeeee;
    color: #3877ff;
    padding: 8px;
    width: 150px;
    text-transform: uppercase;
    box-shadow: 0 0px 10px #8f8f8f94;
    font-size: 16px;
    border: none;
    margin: 0px;
}

.displayContainer button {
    background: #eeeeee;
    color: #3877ff;
    padding: 8px;
    width: 150px;
    text-transform: uppercase;
    box-shadow: 0 0px 10px #8f8f8f94;
    border: none;
    font-size: 16px;
}

.displayContainer input {
    background: #eeeeee;
    color: #3877ff;
    padding: 8px;
    width: 250px;
    text-transform: uppercase;
    box-shadow: 0 0px 10px #8f8f8f94;
    border: none;
    font-size: 16px;
}

/*#endregion*/

/*#region Main section*/

.dataContainer {
    min-height: 100%;
    overflow: auto;
    padding-left: 80px;
    padding-right: 80px;
}

.dataContainer p {
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 10px #8f8f8f94;
    border-radius: 5px;
}

.masterContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
}

.masterContainer .container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
}

.container .box {
    background: #fff;
    box-shadow: 0px 0px 12px #8f8f8f94;
    border-radius: 4px;
    min-height: 200px;
    padding: 20px;
    margin: 8px;
    display: grid;
    font-size: 20px;
    color: black;
    transition: 0.5s;
}

.box canvas {
    margin: auto;
}

.container .box:hover{
box-shadow: 0px 0px 18px #e91e63;
}

/*#endregion*/

/*#region Warnings*/

.warningContainer{
    width: 580px;
    max-height: 600px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.warningContainer .warningBox {
    padding: 5px;
    margin: 20px;
    border-radius: 6px;
    color: white;
    box-shadow: 0px 5px 10px #8f8f8f94;
    background-color: orange; /*Background-color may be decided in html through js*/
    transition: 0.5s;
}

.warningBox input {
    background: #eeeeee;
    color: #3877ff;
    padding: 8px;
    text-transform: uppercase;
    box-shadow: 0 0px 10px #8f8f8f94;
    border: none;
    font-size: 16px;
}

.warningBox:hover {
    box-shadow: 0px 0px 18px #e91e63;
}

/*#endregion*/

/*#region Loading section*/

.loadingDiv {
    text-align: center;
    font-size: 50px;
    display: block;
    z-index: 100;
    margin-top: 250px;
}

/*#endregion*/