* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "montserrat", sans-serif;
}

body {
    background: #E5E5E5;
}

header {
    background: #14213D;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    text-align: center;
}

.headerContainer {
    height: 60px;
    width: 80%;
    display: inline-block;
    line-height: 60px;
    white-space: nowrap;
}

.logoContainer {
    float: left;
}

.selectContainer {
    float: right;
}

.logoContainer {
    text-transform: uppercase;
    color: white;
}