/* This is the stylesheet for the front page */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* Header Section begins here */

header{
    width: 100%;
    overflow: hidden;
    background-color: #2a2e3c;
    color: white;
}

.logoContainer{
    float: left;
    text-align: center;
    padding: 10px;
}

.userType{
    float: right;
    text-align: center;
    padding: 10px;
}

.roomSelect{
    float: right;
    text-align: center;
    padding: 10px;
}

/* Main Sections begins here */



/* Footer Section begins here */

footer{
    width: 100%;
    background-color: #2a2e3c;
    color: white;
    padding: 5px;
}
